* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f6263;
    padding: 25px 200px 75px 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 100px;
}

.header-top h3 {
    font-size: 30px;
    margin: 0;
}

.header-top ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    display: flex;
    color: white;
}

.bottom-left {
    margin: 0 50px 0 0;
    display: flex;
    flex-direction: column;
}

.bottom-left h1 {
    margin-right: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}

.bottom-left p {
    margin-right: 50px;
    margin-bottom: 10px;
}

#link-id {
    width: 100px;
    height: 30px;
    background-color: #0070c2;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.header-bottom img {
    width: 500px;
    height: 250px;
}

.content h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
}

.content img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: gray;
}

.content .images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.content figcaption {
    font-size: 15px;
    text-align: center;
}

.quote {
    background-color: #E5E4E2;
    padding: 50px 200px 50px 200px;
    margin-top: 50px;
}

.quote p {
    margin-top: 20px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.quote h3 {
    margin-right: 50px;
    margin-top: 25px;
    text-align: end;
}

.signup {
    display: flex;
    background-color: #0070c2;
    color: white;
    margin: 50px 250px 50px 250px;
    padding: 35px 75px;
    border-radius: 10px;
}

.signup .text {
    display: flex;
    flex-direction: column;
}

.signup button {
    margin-left: 150px;
    width: 100px;
    height: 35px;
    opacity: 10;
    background-color: #0070c2;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    color: white;
    background-color: #1f6263;
    text-align: center;
    padding: 25px 0;
    margin: auto;
    font-size: 15px;
}